################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
definitions/Desktop/ARM64/Internal/raphael.txt
