[submodule "components/QC8150/Device/Raphael"]
	path = components/QC8150/Device/Raphael
	url = https://github.com/woa-msmnile/Raphael
[submodule "components/QC8150/Device/Andromeda"]
	path = components/QC8150/Device/Andromeda
	url = https://github.com/woa-msmnile/Andromeda
[submodule "components/QC8150/Device/Hotdog"]
	path = components/QC8150/Device/Hotdog
	url = https://github.com/woa-msmnile/Hotdog
[submodule "components/QC8150/Device/Nabu"]
	path = components/QC8150/Device/Nabu
	url = https://github.com/woa-msmnile/Nabu
[submodule "components/QC8150/Device/Vayu"]
	path = components/QC8150/Device/Vayu
	url = https://github.com/woa-msmnile/Vayu
